[submodule "stepper_demo"]
	path = stepper_demo
	url = https://github.com/semify-eda/stepper_demo.git
[submodule "IMU_sensor_demo"]
	path = IMU_sensor_demo
	url = https://github.com/semify-eda/IMU_sensor_demo.git
